.show-img {
  height: 175px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 5px solid black;
  position: relative;
}

.google-map {
  height: 500px;
}

a.main-btn {
  font-size: 20px;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  background-color: gold;
  color: black;
  border-radius: 3px;
  a {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    background-color: orange;
    color: white;
  }
}

button.btn-form {
  font-size: 20px;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  background-color: orange;
  color: black;
  a {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
    background-color: gold;
    color: white;
  }
}

.nav-bar {
  height: 80px;
  text-align: right;
  padding: 15px 10px 0 0;
  background-color: black;
}

.tile {
  height: 250px;
  background-color: black;
}

.pagebanner {
  margin-top: 10px;
}

input[type=checkbox] {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    padding: 10px;
}

li {
  list-style: none;
  display: inline;
  padding: 10px;
  color: black;
  align-items: center;
  &:hover {
    color: orange;
  }
}
